body{
text-align:center;   
}
#welcome{
position:absolute;
overflow:hidden;
width:100%;
height:800px;
background:linear-gradient(#4043c9 0%,#42f5e6 25%,#3dff67 50%,#f2ff3d 75%,#ffa53d 100%);
top:0;
bottom:0;
right:0;
left:0;
opacity:0.83;
z-index:9;
}
#bio{
margin-top:800px;
font-size:30px;
padding:50px;
}
#rainbow{
margin-top:50px;
}
.line{
height:6px;
width:80px;
background-color:black;
margin:80px auto;
}
.menu{
list-style:none;
position:fixed;
top:10px;
z-index:10;
right:30px;
margin-bottom:10px !important;
}
.links{
cursor:pointer;
float:left;
padding-left:10px;
padding-right:6px;
padding-top:5px;
padding-bottom:5px;
color:aqua !important;
}
.links:hover{
background-color:blue; 
}
#name{
font-family: 'Neonderthaw', cursive;
font-size:50px;
}
a{
text-decoration:none;
}